{% comment %}
    Product snippet

    @param product
    @param selected_variant
    @param width
    @param css_class
    @param display_sku
    @param display_social_buttons
    @param display_tags
    @param display_thumbnails
    @param display_type
    @param display_vendor
    @param enable_product_lightbox
    @param enable_shopify_review_comments
    @param enable_thumbnail_slider
    @param enable_zoom
    @param gallery_arrows
    @param product_description_position
    @param product_height
    @param set_product_height
    @param show_payment_button
    @param size_chart
    @param slideshow_transition
    @param stickers_enabled
    @param tag_style
    @param thumbnail_position
    @param video_looping
  {% endcomment %}

{% comment %} HTML markup {% endcomment %}

<div class="product_section
            js-product_section
            container
            is-justify-space-between
            has-padding-bottom
            {% if product_images_position == 'right' %}
              is-flex-row-reverse
            {% endif %}"
            data-rv-handle="{{ product.handle }}">

  <div class="product__images
              one-half
              column
              medium-down--one-whole">
    {%
      render 'product__images',
      product: product,
      display_thumbnails: display_thumbnails,
      thumbnail_position: thumbnail_position,
      enable_thumbnail_slider: enable_thumbnail_slider,
      product_height: product_height,
      set_product_height: set_product_height,
      video_looping: video_looping
      gallery_arrows: gallery_arrows,
      slideshow_transition: slideshow_transition,
      enable_product_lightbox: enable_product_lightbox,
      enable_zoom: enable_zoom
    %}
  </div>

  <div class="product__information
              has-product-sticker
              one-half
              column
              medium-down--one-whole">

    {% comment %} Sale sticker {% endcomment %}
    {% if stickers_enabled %}
      {% assign collection_handles = product.collections | map: 'handle' %}
      {%
        render 'product-thumbnail__sticker',
        context: 'product',
        collection_handles: collection_handles,
      %}
    {% endif %}

    {% comment %} Review stars {% endcomment %}
    {% if enable_shopify_product_badges %}
      <div class="spr-badge-container">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
    {% endif %}

    {% comment %} Vendor {% endcomment %}
    {% if display_vendor %}
      <p class="vendor">
        <span class="vendor">{{ product.vendor | link_to_vendor }}</span>
      </p>
    {% endif %}

    {% comment %} Sku {% endcomment %}
    {% if display_sku %}
      <p class="sku">{{ selected_variant.sku }}</p>
    {% endif %}

    <div>

      {% comment %} Name {% endcomment %}
      <h1 class="product_name title">
        {% if section_id == 'quickshop' %}
          <a href="{{ product.url }}">{{ product.title }}</a>
        {% else %}
          {{ product.title }}
        {% endif %}
      </h1>

      {% for tag in product.tags %}
        {% if tag contains 'meta-size-chart-' %}
          {% assign meta-size-chart = true %}
        {% endif %}
      {% endfor %}


      {% comment %} Size chart Mobile {% endcomment %}
      {% if size_chart != blank or meta-size-chart %}
        <a href="javascript:;" class="product__size-chart size-chart--medium-down" data-fancybox data-src="#size-chart{{product.id}}" data-type="inline">{{ 'products.product.size_chart' | t }} {% render 'icon', name: 'right-caret' %}</a>
        {% render 'popup-size-chart', product_id: product.id %}
      {% endif %}

      {% comment %} Price {% endcomment %}
      <div class="modal_price subtitle">
        {% comment %}Inject @pixelunion/shopify-price-ui/price-ui begin{% endcomment %}
        <div class="price-ui price-ui--loading" data-price-ui>
          <noscript>
            <style>
              .price-ui--loading {
                display: block !important;
                opacity: 1 !important;
              }
            </style>
          </noscript>
          {% assign compare_at_price = false %}
        
          {% if product.compare_at_price and product.compare_at_price != product.price %}
            {% if product.compare_at_price_varies %}
              {%- capture price_min -%}
                {%-
                  render 'price-ui-templates',
                  template: 'price-min',
                  value: product.compare_at_price_min,
                -%}
              {%- endcapture -%}
        
              {%- capture price_max -%}
                {%-
                  render 'price-ui-templates',
                  template: 'price-max',
                  value: product.compare_at_price_max,
                -%}
              {%- endcapture -%}
        
              {%- assign compare_at_price = 'product.price.range_html' | t: price_min: price_min, price_max: price_max -%}
            {% else %}
              {%- capture compare_at_price -%}
                {%-
                  render 'price-ui-templates',
                  template: 'price',
                  value: product.compare_at_price,
                -%}
              {%- endcapture -%}
            {% endif %}
          {% endif %}
        
          {% if product.price_varies %}
            {%- capture price_min -%}
              {%-
                render 'price-ui-templates',
                template: 'price-min',
                value: product.price_min,
              -%}
            {%- endcapture -%}
        
            {%- capture price_max -%}
              {%-
                render 'price-ui-templates',
                template: 'price-max',
                value: product.price_max,
              -%}
            {%- endcapture -%}
        
            {%- assign price = 'product.price.range_html' | t: price_min: price_min, price_max: price_max -%}
          {% else %}
            {%- capture price -%}
              {%-
                render 'price-ui-templates',
                template: 'price',
                value: product.price,
              -%}
            {%- endcapture -%}
          {% endif %}
        
          {%-
            render 'price-ui-templates',
            template: 'price-ui',
            compare_at_price: compare_at_price,
            price: price,
            unit_pricing: false,
          -%}
        </div>
        {% comment %}Inject @pixelunion/shopify-price-ui/price-ui end{% endcomment %}


        {% comment %} Size chart {% endcomment %}
        {% if size_chart != blank or meta-size-chart %}
          <a href="javascript:;" class="product__size-chart medium-down--hidden" data-fancybox data-src="#size-chart{{product.id}}" data-type="inline">{{ 'products.product.size_chart' | t }} {% render 'icon', name: 'right-caret' %}</a>
          {% render 'popup-size-chart', product_id: product.id %}
        {% endif %}
      </div>
    </div>

    {% comment %} Description - top {% endcomment %}
    {% if product_description_position == "top" %}
      {% if product.description != blank %}
        <div class="description content has-padding-top">
          {{ product.description | split: '<!-- split -->' | first }}
        </div>
      {% endif %}
    {% endif %}

    {% comment %} Purchase form {% endcomment %}
    <div class="product-form-container has-padding-top">

      {% comment %} Notify form {% endcomment %}
      {% render 'product__notify-me-form', product: product %}

      {% comment %} Product form {% endcomment %}
      {% unless collection_handles contains 'coming-soon' %}
        {%
          render 'product__form',
          context: 'product',
          product: product,
          sold_out_options: sold_out_options,
          selected_variant: selected_variant,
          show_payment_button: show_payment_button,
          collection_handles: collection_handles
        %}
      {% endunless %}
    </div>

    {% comment %} Description - bottom {% endcomment %}
    {% if product_description_position == "bottom" %}
      {% if product.description != blank %}
        <div class="description content bottom has-padding-top">
          {{ product.description | split: '<!-- split -->' | first }}
        </div>
      {% endif %}
    {% endif %}

    {% comment %} Collections, type, tags {% endcomment %}
    {% if display_collections or display_tags or display_type %}
      <div class="product__classification-links has-padding-top">
        {% if display_collections %}
          <p class="product__collections-list tags">
            <span class="product__classification-title">{{ 'products.product.collections' | t }}:</span>
            {% for col in product.collections %}
              <span class="tag tag--{{ tag_style }}">
                <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>
              </span>
            {% endfor %}
          </p>
        {% endif %}

        {% if display_type %}
          <p class="product__type-list tags">
            <span class="product__classification-title">{{ 'products.product.product_types' | t }}:</span>
            <span class="tag tag--{{ tag_style }}">{{ product.type | link_to_type }}</span>
          </p>
        {% endif %}

        {% if display_tags and product.tags.size > 0 %}
          <p class="product__tags-list tags">
            <span class="product__classification-title">{{ 'products.product.tags' | t }}:</span>
            {% for tag in product.tags %}
              {% unless tag contains 'meta-' %}
                <span class="tag tag--{{ tag_style }}">
                  <a href="{{ routes.collections_url }}/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>
                </span>
              {% endunless %}
            {% endfor %}
          </p>
        {% endif %}
      </div>
    {% endif %}

    {% comment %} Social share icons {% endcomment %}
    {% if display_social_buttons %}
      <div class="product__social-share has-padding-top">
        {% render 'social-share-buttons' %}
      </div>
    {% endif %}

  </div>
</div>

{% comment %} Description - split {% endcomment %}
{% if product.description contains "<!-- split -->"  %}
  <div class="product-description-split">
    <div class="description content">
      {{ product.description | split: '<!-- split -->' | last }}
    </div>
  </div>
{% endif %}